
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
  src: url(https://fonts.gstatic.com/s/opensans/v28/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsiH0B4gaVc.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  src: url(https://fonts.gstatic.com/s/opensans/v28/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0B4gaVc.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  src: url(https://fonts.gstatic.com/s/opensans/v28/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsg-1x4gaVc.ttf) format('truetype');
}
body {
  color: #5D5F63;
  background: #293949;
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
.sidebar-toggle {
  margin-left: -240px;
}
.sidebar {
  width: 240px;
  height: 100%;
  background: #293949;
  position: absolute;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 100;
}
.sidebar #leftside-navigation ul,
.sidebar #leftside-navigation ul ul {
  margin: -2px 0 0;
  padding: 0;
}
.sidebar #leftside-navigation ul li {
  list-style-type: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}
.sidebar #leftside-navigation ul li.active > a {
  color: #1abc9c;
}
.sidebar #leftside-navigation ul li.active ul {
  display: block;
}
.sidebar #leftside-navigation ul li a {
  color: #aeb2b7;
  text-decoration: none;
  display: block;
  padding: 18px 0 18px 25px;
  font-size: 12px;
  outline: 0;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  -ms-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}
.sidebar #leftside-navigation ul li a:hover {
  color: #1abc9c;
}
.sidebar #leftside-navigation ul li a span {
  display: inline-block;
}
.sidebar #leftside-navigation ul li a i {
  width: 20px;
}
.sidebar #leftside-navigation ul li a i .fa-angle-left,
.sidebar #leftside-navigation ul li a i .fa-angle-right {
  padding-top: 3px;
}
.sidebar #leftside-navigation ul ul {
  display: none;
}
.sidebar #leftside-navigation ul ul li {
  background: #23313f;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  border-bottom: none;
}
.sidebar #leftside-navigation ul ul li a {
  font-size: 12px;
  padding-top: 13px;
  padding-bottom: 13px;
  color: #aeb2b7;
}
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
html, body {
  margin: 0;
  height: 80%;
  
}
 body{

	background: #2b898e9e;
	font-family: 'Roboto Slab', serif;    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
	font-size: 12px;
	color:black;
 }
 .awesome{

	font-family: 'FontAwesome';
 }
.quizArea{
  width: 900px;
 margin:  auto;
 padding:3px;
 position: relative;
 text-align: center;
 }
.mc_quiz{
	color: #f1f2ec;
	margin-bottom: 0px;
	text-shadow: #ccc 1px 0 4px, 2px 2px black, 2px 2px black, 2px 2px black;
}



.multipleChoiceQues{
  width:90%;
  margin: auto;
  padding: 10px;
   
}
.quizBox
{
	font-size: 8px;
	text-align: left;
    width: auto;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 3% auto;
	margin-bottom: 2px;
    padding: 22px;
	padding-bottom: 34px;
    border: 1px solid #000000;
    border-radius: 4px;
    box-shadow: 0px 0px 5px #000000, 0px 0px 5px, 0px 0px 3px;
    position: relative;
}


}

.space {
  width: 4px;
  height: auto;
  display: inline-block;
}

.buttonArea
{
	text-align: right;
	height: 4.5em;
}

button {
    height: 4em;
    width: 130px;
    margin: 1em auto;
    background-color: #000000;
    border: none;
    border-radius: 3px;
    color: #ffffff;
    box-shadow: 0px 0px 5px #000000, 0px 0px 5px, 0px 0px 1px;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    transition: all 0.2s cubic-bezier(.4,0,.2,1);
	
}

#next:hover,
#submit:hover,
.viewanswer:hover,
.viewchart:hover,
.backBtn:hover,
.replay:hover {
  letter-spacing: 0.8em;
}
.viewanswer,
.viewchart,
.replay{
  font-size: 12px;
	width: 83%;
}

.backBtn{
	width:100px;
	height: 2em;
	font-size: 0.8em;
	margin-left: 70%;
}
#next:active,
#submit:active,
.viewanswer:active,
.viewchart:active,
.backBtn:active,
.replay:active  {
  letter-spacing: 0.3em;
}
@import "compass/css3";


.btn{
	
   cursor:pointer;
   display:inline-block;
   width:99.1%;
   height:20px;
   padding: 0px;
   padding-right: 12px;
   background: #272727b0;
   border-radius: 7px;
   color: #fff;
   text-transform:;
   line-height:15px;
   
   @include transition(box-shadow .25s ease);
   &:after{
      content:'';
      display:inline-block;
      color: #272727b0;
      background:#fff;
      font-family: 'FontAwesome';
      padding:3px;
      border-radius: 50%;
      height:20px;
      width:20px;
      margin-left:8px;
      padding-left: 4.5px;
      padding-right:1.5px;
   }
   &.playing{
       &:after{
         padding:3px;
         content:'';
      }
   }
}
.resultArea{
	display: none;
	width:70%;
	margin: auto;
	
	padding: 10px;
	
}

.chartBox{
	width: 60%;
	margin:auto;
}

.resultPage1{
	
	text-align: center;
	
}
.resultBox h1{
	
}

.briefchart
{
	text-align:center;
}

.resultBtns{
	width: 60%;
	margin: auto;
	text-align:center;
}
.resultPage2,
.resultPage3
{
	display: none;
	text-align: center;
}

.allAnswerBox{
	box-shadow: 2px 2px 7px 1px #000000;
	width: 100%;
	margin: 0;
	position: relative;
}

._resultboard{
	position: relative;
	display:inline-block;
	width: 40%;
	padding: 2%;
	padding-bottom: 90px;
    height: 190px;
	vertical-align: top;
	border-bottom: 0.6px solid rgb(0 0 0  / 75%);
	text-align: left;
	margin-bottom: 4px;
	
}

._resultboard:nth-child(even){
	
	
	margin-left: 50px;
	border-left: 0.6px solid rgb(0 0 0 / 20%);
}
._resultboard:nth-last-child(2),
._resultboard:nth-last-child(1){
	border-bottom: 0px;
}

._header{
	font-weight: bold;
    margin-bottom: 8px;
    height: 90px;
}

._yourans,
._correct{
	margin-bottom: 8px;
	position: relative;
	line-height: 2;
	padding: 5px; 
}
._correct{
	background: #6cabaf ;
}
.h-correct{
	background: #6cabaf;

}

.h-correct:after,
._correct:after {
  line-height: 1.4;
  position: absolute;
  z-index: 499;
  font-family: 'FontAwesome';
  content: "\f00c";
  bottom: 0;
  right: 7px;
  font-size: 1.9em;
  color: #046b0e;
}
.h-incorrect {
    background: #af6c6c;
}
.h-incorrect:after {
  line-height: 1.4;
  position: absolute;
  z-index: 499;
  font-family: 'FontAwesome';
  content: "\f00d";
  bottom: 0;
  right: 5px;
  font-size: 1.9em;
  color: #840000;
}

.resultPage3 h1,
.resultPage1 h1,
.resultPage2 h1{
	 box-shadow: 2px 2px 7px 1px #000e18;
	text-shadow: -2px 0px 3px rgba(0,85,119,0.73);
	text-align: center;
	padding-bottom: 10px;
    border-bottom: 1.3px solid rgba(21, 63, 101,0.9);
    color: #000000;
}

.my-progress {
  position: relative;
  display: block;
  margin: 3rem auto 0rem;
  width: 100%;
  max-width: 950px;
}

progress {
  display: block;
  position: relative;
  top: -0.5px;
    left: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  background: #f1f2ec ;
  width: 100%;
  height: 2.5px;
  background: none;
  -webkit-transition: 1s;
  transition: 1s;
  will-change: contents;
}
progress::-webkit-progress-bar {
  background-color: #ffffff;
}
progress::-webkit-progress-value {
  background-color:#000000;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.my-progress-indicator {
  position: absolute;
  top: -6px;
  left: 0;
  display: inline-block;
  width: 5px;
  height: 5px;
  background: #0c343900;
  border: 3px solid #000000;
  border-radius: 50%;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
  will-change: transform;
}
.my-progress-indicator.progress_1 {
  left: 0%;
}
.my-progress-indicator.progress_2 {
  left: 6.6%;
}
.my-progress-indicator.progress_3 {
  left: 13.2%;
}
.my-progress-indicator.progress_4 {
  left: 19.8%;
}
.my-progress-indicator.progress_5 {
  left: 26.4%;
}
.my-progress-indicator.progress_6 {
  left: 33%;
}
.my-progress-indicator.progress_7 {
  left: 39.6%;
}
.my-progress-indicator.progress_8 {
  left: 46.2%;
}
.my-progress-indicator.progress_9 {
  left: 52.8%;
}
.my-progress-indicator.progress_10 {
  left: 59.4%;
}
.my-progress-indicator.progress_11 {
  left: 66%;
}
.my-progress-indicator.progress_12 {
  left: 72.6%;
}
.my-progress-indicator.progress_13 {
  left: 79.2%;
}
.my-progress-indicator.progress_14 {
  left: 85.8%;
}
.my-progress-indicator.progress_15 {
  left: 92.4%;
}
.my-progress-indicator.progress_16 {
  left: 100%;
}
.my-progress-indicator.active {
  -webkit-animation: bounce .5s forwards;
          animation: bounce .5s forwards;
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
  border-color: #153f65 ;
 
}

.animation-container {
  position: relative;
  width: 100%;
  -webkit-transition: .3s;
  transition: .3s;
  will-change: padding;
}

.form-step {
  position: absolute;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  will-change: transform, opacity;
}

.form-step.leaving {
  -webkit-animation: left-and-out .5s forwards;
          animation: left-and-out .5s forwards;
}

.form-step.waiting {
  -webkit-transform: translateX(400px);
          transform: translateX(400px);
}

.form-step.coming {
  -webkit-animation: right-and-in .5s forwards;
          animation: right-and-in .5s forwards;
}

@-webkit-keyframes left-and-out {
  100% {
    opacity: 0;
    -webkit-transform: translateX(-400px);
            transform: translateX(-400px);
  }
}

@keyframes left-and-out {
  100% {
    opacity: 0;
    -webkit-transform: translateX(-400px);
            transform: translateX(-400px);
  }
}
@-webkit-keyframes right-and-in {
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes right-and-in {
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@-webkit-keyframes bounce {
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes bounce {
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.hidden {
  display: none;
}


ul{
	list-style-type: none;
    padding: 0;
	margin: auto;
	text-align: left;
}

li {
	position: relative;
	padding: 10px;
	padding-left: 40px;
	height:30px;
}
label{
		font-size: 13px;

	color: #000;
}
label:before {
    content: "";
    width: 15px;
    height: 15px;
    background: #fff ;
	    position: absolute;
    left: 7px;
		top: calc(50% - 18px);
    box-sizing: border-box;
    border-radius: 560%;
}

input[type="radio"] {
	opacity: 0;
	-webkit-appearance: none;
	display: inline-block;
	vertical-align: middle;
	z-index: 100;
	margin: 0;
	padding: 0;
  width: 100%;
	height: 30px;
	position: absolute;
	left: 0;
	top: calc(50% - 15px);
	cursor: pointer;
}

.bullet {
    position: relative;
    width: 25px;
    height: 25px;
    left: -3px;
    top: -3px;
    border: 5px solid #fff ;
    opacity: 0;
    border-radius: 50%;
}

input[type="radio"]:checked ~ .bullet {
	position:absolute;
	opacity: 1;
	animation-name: ;
	animation-duration: 0.350s;
}

.line {
	position: absolute;
	width: 10px;
	height: 2px;
	background-color: #ffffff ;
	opacity:0;
}

.line.zero {
	left: 11px;
	top: -21px;
	transform: translateY(20px);
	width: 2px;
	height: 10px;
}

.line.one {
	right: -7px;
	top: -11px;
	transform: rotate(-55deg) translate(-9px);
}

.line.two {
	right: -20px;
	top: 11px;
	transform: translate(-9px);
}

.line.three {
	right: -8px;
	top: 35px;
	transform: rotate(55deg) translate(-9px);
}

.line.four {
	left: -8px;
	top: -11px;
	transform: rotate(55deg) translate(9px);
}

.line.five {
	left: -20px;
	top: 11px;
	transform: translate(9px);
}

.line.six {
	left: -8px;
	top: 35px;
	transform: rotate(-55deg) translate(9px);
}

.line.seven {
	left: 11px;
	bottom: -21px;
	transform: translateY(-20px);
	width: 2px;
	height: 10px;
}

input[type="radio"]:checked ~ .bullet .line.zero{
	animation-name:drop-zero;
	animation-delay: 0.100s;
	animation-duration: 0.9s;
	animation-fill-mode: forwards;
}

input[type="radio"]:checked ~ .bullet .line.one{
	animation-name:drop-one;
	animation-delay: 0.100s;
	animation-duration: 0.9s;
	animation-fill-mode: forwards;
}

input[type="radio"]:checked ~ .bullet .line.two{
	animation-name:drop-two;
	animation-delay: 0.100s;
	animation-duration: 0.9s;
	animation-fill-mode: forwards;
}

input[type="radio"]:checked ~ .bullet .line.three{
	animation-name:drop-three;
	animation-delay: 0.100s;
	animation-duration: 0.9s;
	animation-fill-mode: forwards;
}

input[type="radio"]:checked ~ .bullet .line.four{
	animation-name:drop-four;
	animation-delay: 0.100s;
	animation-duration: 0.9s;
	animation-fill-mode: forwards;
}

input[type="radio"]:checked ~ .bullet .line.five{
	animation-name:drop-five;
	animation-delay: 0.100s;
	animation-duration: 0.9s;
	animation-fill-mode: forwards;
}

input[type="radio"]:checked ~ .bullet .line.six{
	animation-name:drop-six;
	animation-delay: 0.100s;
	animation-duration: 0.9s;
	animation-fill-mode: forwards;
}

input[type="radio"]:checked ~ .bullet .line.seven{
	animation-name:drop-seven;
	animation-delay: 0.100s;
	animation-duration: 0.9s;
	animation-fill-mode: forwards;
}

@keyframes explode {
	0%{
		opacity: 0;
		transform: scale(10);
	}
	60%{
		opacity: 1;
		transform: scale(0.5);
	}
	100%{
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes drop-zero {
	0% {
		opacity: 0;
		transform: translateY(20px);
		height: 10px;
	}
	20% {
		opacity:1;
	}
	100% {
		transform: translateY(-2px);
		height: 0px;
		opacity:0;
	}
}

@keyframes drop-one {
	0% {
		opacity: 0;
		transform: rotate(-55deg) translate(-20px);
		width: 10px;
	}
	20% {
		opacity:1;
	}
	100% {
		transform: rotate(-55deg) translate(9px);
		width: 0px;
		opacity:0;
	}
}

@keyframes drop-two {
	0% {
		opacity: 0;
		transform: translate(-20px);
		width: 10px;
	}
	20% {
		opacity:1;
	}
	100% {
		transform: translate(9px);
		width: 0px;
		opacity:0;
	}
}

@keyframes drop-three {
	0% {
		opacity: 0;
		transform: rotate(55deg) translate(-20px);
		width: 10px;
	}
	20% {
		opacity:1;
	}
	100% {
		transform: rotate(55deg) translate(9px);
		width: 0px;
		opacity:0;
	}
}

@keyframes drop-four {
	0% {
		opacity: 0;
		transform: rotate(55deg) translate(20px);
		width: 10px;
	}
	20% {
		opacity:1;
	}
	100% {
		transform: rotate(55deg) translate(-9px);
		width: 0px;
		opacity:0;
	}
}

@keyframes drop-five {
	0% {
		opacity: 0;
		transform: translate(20px);
		width: 10px;
	}
	20% {
		opacity:1;
	}
	100% {
		transform: translate(-9px);
		width: 0px;
		opacity:0;
	}
}

@keyframes drop-six {
	0% {
		opacity: 0;
		transform: rotate(-55deg) translate(20px);
		width: 10px;
	}
	20% { 
		opacity:1;
	}
	100% {
		transform: rotate(-55deg) translate(-9px);
		width: 0px;
		opacity:0;
	}
}

@keyframes drop-seven {
0% {
		opacity: 0;
		transform: translateY(-20px);
		height: 10px;
	}
	20% {
		opacity:1;
	}
	100% {
		transform: translateY(2px);
		height: 0px;
		opacity:0;
	}
}

@ -912,4 +912,72 @@ input[type="radio"]:checked ~ .bullet .line.seven{
  height: 0px;
  opacity:0;
}



/* 
##Device = Desktops
##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

//CSS

}

/* 
##Device = Laptops, Desktops
##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

//CSS

}

/* 
##Device = Tablets, Ipads (portrait)
##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

  body{
    background: #2b898e9e;
    font-family: 'Roboto Slab', serif;    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-size: 30px;
    color:black;
   }
   .quizBox
   {
     font-size: 9px;
     text-align: left;
       width: auto;
       background-repeat: no-repeat;
       background-size: cover;
       margin: 3% auto;
     margin-bottom: 2px;
       padding: 22px;
     padding-bottom: 42px;
       border: 1px solid #000000;
       border-radius: 20px;
       box-shadow: 0px 0px 5px #000000, 0px 0px 5px, 0px 0px 3px;
       position: relative;
   }
.quizArea{
  width: 35.125em;
 margin:  auto;
 padding:0.1875em;
 position: relative;
 text-align: center;
 }
 label{
  font-size:15px;
color: #000;
}

}

/* 
##Device = Tablets, Ipads (landscape)
##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

  body{
    background: #2b898e9e;
    font-family: 'Roboto Slab', serif;    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-size: 29px;
    color:black;
   }
   .quizBox
   {
     font-size: 15px;
     text-align: left;
       width: auto;
       background-repeat: no-repeat;
       background-size: cover;
       margin: 3% auto;
     margin-bottom: 2px;
       padding: 22px;
     padding-bottom: 42px;
       border: 1px solid #000000;
       border-radius: 20px;
       box-shadow: 0px 0px 5px #000000, 0px 0px 5px, 0px 0px 3px;
       position: relative;
   }
.quizArea{
  width: 35.125em;
 margin:  auto;
 padding:0.1875em;
 position: relative;
 text-align: center;
 }

}
label{

  font-size:15px;
color: #000;
}
/* 
##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

  body{
    background: #2b898e9e;
    font-family: 'Roboto Slab', serif;    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-size: 29px;
    color:black;
   }
   .quizBox
   {
     font-size: 9px;
     text-align: left;
       width: auto;
       background-repeat: no-repeat;
       background-size: cover;
       margin: 3% auto;
     margin-bottom: 2px;
       padding: 22px;
     padding-bottom: 42px;
       border: 1px solid #000000;
       border-radius: 20px;
       box-shadow: 0px 0px 5px #000000, 0px 0px 5px, 0px 0px 3px;
       position: relative;
   }
.quizArea{
  width: 35.125em;
 margin:  auto;
 padding:0.1875em;
 position: relative;
 text-align: center;
 }
 label{
  font-size:24px;
color: #000;
}
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  body{
    background: #2b898e9e;
    font-family: 'Roboto Slab', serif;    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-size: 29px;
    color:black;
   }
   .quizBox
   {
     font-size: 9px;
     text-align: left;
       width: auto;
       background-repeat: no-repeat;
       background-size: cover;
       margin: 3% auto;
     margin-bottom: 2px;
       padding: 22px;
     padding-bottom: 42px;
       border: 1px solid #000000;
       border-radius: 20px;
       box-shadow: 0px 0px 5px #000000, 0px 0px 5px, 0px 0px 3px;
       position: relative;
   }
.quizArea{
  width: 35.125em;
 margin:  auto;
 padding:0.1875em;
 position: relative;
 text-align: center;
 }
 label{
  font-size:24px;
color: #000;
}
}